@charset "utf-8";

/* sub_common */
:root {
  --main_blue: #0471E9;
  --sub_blue: #F3F6FB;
  --btn_bg: #E5F0FC;
  --table_inner: #F4FAFF;
  --table_line_gray: #eee;
  --txt: #111;
  --line_eee: #eee;
  --line_ccc: #ccc;
  --tag: #f1f1f1;
  --background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(250, 251, 253, 1) 30%, rgba(243, 246, 251, 1) 100%);

  --tool_shadow: box-shadow {
    10px 3px 10px rgba(0, 0, 0, 0.8)
  }
}

body {
  min-width: 360px;
  overflow-x: hidden;
  font-family: "Pretendard", sans-serif;
  font-size: 1.6rem;
  color: var(--txt);
  line-height: 1.5;
}

#wrap {
  margin: 0 auto;
}

#header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 56px;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

#header .inner {
  width: 100%;
  padding: 0 16px;
  display: flex;
  gap: 24px;
  align-items: center;
}

#header strong {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 56px;
}

/*intro*/
.intro {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.intro img {
  margin-top: 70px;
  width: 80px;
  height: 80px;
}

.intro h1 {
  margin: 16px 0 24px;
  font-size: 2.6rem;
  font-weight: 700;
}

fieldset {
  max-width: 380px;
  margin: 0 auto;
  padding: 0 16px;
  border: 0;
}

.intro div {
  margin-bottom: 16px;
}

.search {
  text-align: start;
  border: 1px solid var(--line_ccc);
  border-radius: 10px;
  background: url(../img/ico_intro_home.svg) no-repeat 16px center;
}

.search a {
  display: block;
  padding: 14px 16px 14px 48px;
  color: #999;
  font-size: 1.8rem;
  font-weight: 500;
}

.intro_id {
  background: url(../img/ico_intro_person.svg) no-repeat 16px center;
}

.intro_pw {
  background: url(../img/ico_intro_lock.svg) no-repeat 16px center;
}

.intro_id .id_class {
  display: block;
  width: 100%;
  padding: 16px 16px 14px 48px;
  border: 1px solid var(--line_ccc);
  color: #999;
  border-radius: 10px;
  line-height: 1.5;
}

.intro_id .id_class:focus {
  border: 1px solid var(--main_blue);
}

.intro_pw .pw_class {
  display: block;
  width: 100%;
  padding: 16px 16px 14px 48px;
  border: 1px solid var(--line_ccc);
  color: #999;
  border-radius: 10px;
  line-height: 1.5;
}

.intro_pw .pw_class:focus {
  border: 1px solid var(--main_blue);
}

.intro input::placeholder {
  color: #999;
  font-family: 'Pretendard', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
}

.intro_checkbox {
  text-align: start;
}

.intro_checkbox input[type="checkbox"] {
  margin-right: 8px;
}

.intro_btn {
  max-width: 380px;
  position: fixed;
  left: 50%;
  bottom: 0;
  width: calc(100% - 32px);
  border-radius: 10px;
  border: 1px solid var(--line_ccc);
  transform: translateX(-50%);
}

.intro_btn a {
  display: block;
  padding: 14px 0;
  color: #666;
  font-weight: 600;
}

/*sub0000(스플래쉬)*/
.sub0000 {
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: var(--main_blue);
}

.sub0000_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sub0000_inner img {
  vertical-align: middle;
}

.sub0000_inner p {
  padding: 24px 0 0;
  color: #fff;
  font-size: 2.0rem;
  font-weight: 700;
}

/* sub0001(시설검색)*/
#header0001 {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 56px;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

#header0001 .inner0001 {
  position: relative;
  width: 100%;
  padding: 0 16px;
  display: flex;
  gap: 24px;
  align-items: center;
}

#header0001 strong {
  font-size: 2.0rem;
  font-weight: 500;
  color: #999;
  line-height: 56px;
}

#header0001 .search_0001 {
  position: absolute;
  right: 36px;
  top: 18px;
}

.sub0001_content {
  padding: 28px 16px;
}

.sub0001_content p {
  padding-bottom: 12px;
  font-size: 1.6rem;
  color: var(--main_blue);
  font-weight: 500;
}

.sub0001_content span {
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px solid var(--line_ccc);
}

/*sub0002(시설검색_활성화) */

#header0002 {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 56px;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

#header0002 .inner0002 {
  position: relative;
  width: 100%;
  padding: 0 16px;
  display: flex;
  gap: 24px;
  align-items: center;
}

#header0002 strong {
  font-size: 2.0rem;
  font-weight: 500;
  color: var(--txt);
  line-height: 56px;
}

#header0002 .close_0002 {
  position: absolute;
  right: 36px;
  top: 18px;
}

.sub0002_content {
  width: 100%;
  padding: 28px 16px 0 16px;
}

.sub0002_content p {
  padding-bottom: 12px;
  font-size: 1.6rem;
  color: var(--main_blue);
  font-weight: 500;
}

.sub0002_content span {
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px solid var(--line_ccc);
}


.sub0002_list ul {
  width: 100%;
  padding: 0 16px;
}

.sub0002_list li {
  width: 100%;
  padding: 12px 16px;
  border-bottom: 1px solid var(--line_ccc);
}

.sub0002_list li img {
  padding-right: 4px;
}

.sub0002_list span {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
}

.sub0002_list p {
  padding-left: 20px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #999;
}